/* Global CSS */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f5f5f5;
}

p {
    font-size: 15px;
}

/* Font Weight */
.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}
/* End Of Font Weight */

/* Button */
.btn {
    font-size: 15px;
}

.primary-btn {
    background-color: #f5f5f5;
    color: #292929;
}

.primary-btn:hover {
    filter: brightness(85%);
}

.primary-btn-outline {
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
}

.primary-btn-outline:hover {
    background-color: #f5f5f5;
    color: #292929;
}
/* End Of Button */

/* End Of Global CSS */

/* Nav */
#nav .nav-link  {
    border: 1px solid #292929;
    font-size: 15px;
    color: #292929;
    padding: 6px 20px;
    margin: 0px 10px;
    transition: 0.9 ease-in;
}

#nav .nav-link:hover {
    margin-top: -1px;
}

#nav .nav-link.active {
    background-color: #292929;
    color: #f5f5f5;
}
/* End Of Nav */

/* Tab Content : Home */
.jumbotron {
    background-color: #292929;
    color: #f5f5f5;
    border-radius: 10px;
}

.jumbotron .logo-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}

.jumbotron .line {
    border-left: 1px solid #858585;
}

.jumbotron .btn-contact, .btn-order {
    padding: 6px 20px;
}

.jumbotron-btn .btn {
    margin: 0px 3px;
}
/* End Of Tab Content : Home */